<?xml version="1.0"?>
<!--
/**
 * Copyright © Tsatsura, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\TsatsuraModule\Block\Form">
        <plugin name="Amasty_SecondTsatsuraModule::changeFormAction"
                type="Amasty\SecondTsatsuraModule\Plugin\TsatsuraModule\Block\Form\ChangeFormAction" disabled="true"/>
    </type>
    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="Amasty_SecondTsatsuraModule::changeProductData"
                type="Amasty\SecondTsatsuraModule\Plugin\Checkout\Controller\Cart\Add\ChangeProductData" disabled="true"/>
    </type>
        <preference for="Amasty\TsatsuraModule\Controller\Index\Index"
                    type="Amasty\SecondTsatsuraModule\Preference\TsatsuraModule\Controller\Index\Index\CheckIsLoggedIn"/>
</config>