<!--@subject Amasty Tsatsura Module Blacklist QTY notification @-->
<!--@vars {
"var entity_id":"Blacklist ID",
"var product_sku":"SKU Product in Blacklist",
"var product_qty":"QTY for SKU in Blacklist"
} @-->
<!--@styles
table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

td {
    border: 1px solid #dddddd;
    padding: 5px;
}

thead th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
@-->
{{template config_path="design/email/header_template"}}
<p>{{trans "The maximum quantity for a product that is in the Blacklist:" }}</p>
<table>
    <thead>
        <tr>
            <th>Product SKU</th>
            <th>Product QTY</th>
        </tr>
    </thead>
    <tbody>
    {{layout handle="amasty_tsatsuramodule_email"
             product_sku=$product_sku
             product_qty=$product_qty
             area="frontend"}}
    </tbody>
</table>
{{template config_path="design/email/footer_template"}}