<?xml version="1.0"?>
<!--
/**
 * Copyright © Tsatsura, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_TsatsuraModule" translate="label" sortOrder="10">
            <label>Amasty Tsatsura Module</label>
        </tab>
        <section id="tsatsura_config" type="text" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Tsatsura Module Config</label>
            <tab>Amasty_TsatsuraModule</tab>
            <resource>Amasty_TsatsuraModule::config</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="welcome_text" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Welcome Text</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="enabled_qty" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is QTY Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="qty_value" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quantity product</label>
                    <validate>required-entry integer not-negative-amount validate-number-range number-range-1</validate>
                    <depends>
                        <field id="enabled_qty">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>